.banner {
  border-bottom: 0.25em solid;
  display: flex;
  flex-wrap: wrap;
  font-family: var(--zilla);
  grid-area: banner;
  justify-content: space-between;
  margin: 0.5em;
  padding: 0.5em;

  a:link,
  a:visited {
    text-decoration: none;
  }

  a:hover,
  a:focus,
  a:active {
    text-decoration: inherit;
  }
}
