{% macro heading(label, slug) %}
  <h3>
    <a href="#{{ slug }}">
      {{ label }}
    </a>
  </h3>
{% endmacro %}

{% macro describe(pattern) %}
  {{ pattern.note | md | safe }}
  {{ see(pattern.links) }}
  {{ todo(pattern.todo) }}
{% endmacro %}

{% macro see(links) %}
  {% if links %}
    <h4>Links:</h4>
    <ul>
      {% for link in links %}
        <li>{{ link | mdInline | safe }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

{% macro todo(content) %}
  {% if content %}
    <h4>Todo:</h4>
    {{ content | md | safe }}
  {% endif %}
{% endmacro %}

{% macro code(css) %}
  {% if css %}
    <h4>CSS:</h4>
    {% highlight "css" %}{{ css | safe }}{% endhighlight %}
  {% endif %}
{% endmacro %}
