// based on a11y-dark styles…
code,
pre {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

code {
  font-size: 0.8em;
}

code:not([class*="language-"]) {
  background:var(--callout);
  border-radius: 0.3em;
  display: inline-block;
  padding: 0.1em 0.4em;
}
