<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% set meta_title = renderData.title or title %}
  <title>
    {{ meta_title }}
    {{ '|' if meta_title else '' }}
    {{ dox.repo.name }}
  </title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  {% import "nav.njk" as nav %}

  <header class="banner">
    <a href="/" rel="home">
      <strong>{{ dox.repo.name }}</strong>
      docs
    </a>
    <a href="{{ site.mozdev }}">{{ site.author | mdInline | safe }}</a>
  </header>

  {% if docs_nav %}
    <nav class="docs-nav">
      <strong>Information</strong>
      {{ nav.docs(dox.md, page) }}
      <strong>Remedies</strong>
      {{ nav.docs(dox.css, page) }}
    </nav>
  {% endif %}

  <main>
    {% if not hide_title %}
      <h1>
        {{ (renderData.h1 or h1 or meta_title or 'Title Required') | mdInline | safe }}
      </h1>
    {% endif %}

    {{ content | safe }}
  </main>
</body>
</html>
