<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    {{ title }}
    {{ '|' if title else '' }}
    {{ dox.repo.name }}
  </title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <a href="#content" class="skip-to-content">Skip to content</a>

  <header class="banner">
    <a href="/" rel="home">
      <strong>{{ site.title }}</strong> Documentation
    </a>

    <div class="banner-meta">
      <code>v{{ dox.repo.version }}</code>
      <a href="{{ site.github }}">Source Code</a>
    </div>
  </header>

  <nav class="docs-nav">
    {% import "nav.njk" as nav %}
    <strong>Information</strong>
    {{ nav.docs(dox.md, page) }}
    <strong>Remedies</strong>
    {{ nav.docs(dox.css, page) }}
  </nav>

  <main id="content">
    {% if not hide_title %}
      <h1>
        {{ (h1 or title or '@@@ Title Required') | mdInline | safe }}
      </h1>
    {% endif %}

    {{ content | safe }}
  </main>

  <footer>
    {% set comma = joiner() %}

    <strong>{{ site.title }}</strong>
    is a project by
    <a href="{{ site.author.url }}">{{ site.author.name }}</a>,
    along with
    {% for contributor in site.contributors -%}
      {{ comma() }}
      {% if loop.last and (loop.index > 1) %}and{% endif %}
      <a href="{{ contributor.url }}">{{ contributor.name }}</a>
    {%- endfor %}.
  </footer>
</body>
</html>
