<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% set meta_title = renderData.title or title %}
  <title>
    {{ meta_title }}
    {{ '|' if meta_title else '' }}
    {{ dox.repo.name }}
  </title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  {% import "nav.njk" as nav %}

  <header>
    <a href="/" rel="home">{{ dox.repo.name }}</a>
    <a href="{{ site.mozdev }}">{{ site.author | mdInline | safe }}</a>
  </header>

  <nav>
    <ul>
      <li>
        <a href="/docs/readme/">Documentation</a>
      </li>
      <li>
        <a href="{{ site.github }}">Github</a>
      </li>
    </ul>
  </nav>

  {% if docs_nav %}
    <nav class="docs">
      <strong>Information</strong>
      {{ nav.docs(dox.md) }}
      <strong>Remedies</strong>
      {{ nav.docs(dox.css) }}
    </nav>
  {% endif %}

  <main>
    <h1>
      {{ (renderData.h1 or h1 or meta_title or 'Title Required') | mdInline | safe }}
    </h1>

    {{ content | safe }}
  </main>
</body>
</html>
