---
layout: base
docs_nav: true
---

{% import "doxray.njk" as doxray %}

<code>v{{ dox.repo.version }}</code>
{{ doxray.describe(file.info.note, file.info.links) }}
{{ doxray.highlight(file.info.css) }}

{% for group, patterns in file.patterns | groupby("docs") %}
<hr>
<section>
  <h2>{{ group or 'General' }}</h2>

  {% for pattern in patterns %}
  <article id="{{ pattern.slug }}">
    {{ doxray.heading(pattern.label, pattern.slug) }}
    {{ doxray.describe(pattern.note, pattern.links) }}
    {{ doxray.highlight(pattern.css) }}
  </article>
  {% endfor %}

</section>
{% endfor %}
