---
layout: base
docs_nav: true
---

{% import "doxray.njk" as doxray %}

<code {% if dox.repo.version != file.info.version %}class="version-error"{% endif %}>
  v{{ file.info.version }}
</code>

{{ doxray.describe(file.info) }}
{{ doxray.code(file.info.css) }}

{% for group, patterns in file.patterns | groupby("docs") %}
<hr>
<section>
  <h2>{{ group or 'General' }}</h2>

  {% for pattern in patterns %}
  <article id="{{ pattern.slug }}">
    {{ doxray.heading(pattern.label, pattern.slug) }}
    {{ doxray.describe(pattern) }}
    {{ doxray.code(pattern.css) }}
  </article>
  {% endfor %}

</section>
{% endfor %}
