---
layout: base
---

{% import "doxray.njk" as doxray %}

{% if dox.repo.version != file.info.version %}
  <code class="version-error">
    v{{ file.info.version }}
  </code>
{% endif %}

{{ doxray.describe(file.info) }}
{{ doxray.code(file.info.css) }}

{% for group, patterns in file.patterns | groupby("category") %}
<hr>
<section>
  <h2>{{ group or 'General' }}</h2>

  {% for pattern in patterns %}
  <article id="{{ pattern.slug }}">
    {{ doxray.heading(pattern.label, pattern.slug) }}
    {{ doxray.describe(pattern) }}
    {{ doxray.code(pattern.css) }}
  </article>
  {% endfor %}

</section>
{% endfor %}
