/* doxray
label: Core Remedies
note: |
  These remedies are recommended
  as a starter for any project.
docs: meta
*/
/* doxray
label: Box Sizing
note: Use border-box by default, globally.
docs: global
*/
*, ::before, ::after {
  box-sizing: border-box;
}

/* doxray
label: Line Sizing
note: |
  Consistent line-spacing,
  even when inline elements have different line-heights.
links:
  - title: CSS Inline Layout Module Level 3
    url: https://drafts.csswg.org/css-inline-3/#line-sizing-property
docs: global
*/
html {
  line-sizing: normal;
}

/* doxray
label: Body Margins
note: Remove the tiny space around the edge of the page.
docs: global
*/
body {
  margin: 0;
}

/* doxray
label: Heading Sizes
note: Switch to rem units for headings
docs: typography
*/
h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.17rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.83rem;
}

h6 {
  font-size: 0.67rem;
}

/* doxray
label: H1 Margins
note: Keep h1 margins consistent, even when nested
docs: typography
*/
h1 {
  margin: 0.67em 0;
}

/* doxray
label: Pre Wrapping
note: Overflow by default is bad...
docs: typography
*/
pre {
  white-space: pre-wrap;
}

/* doxray
label: Horizontal Rule
note: |
  1. Solid, thin horizonatal rules
  2. Remove Firefox `color: gray`
  3. Remove default `1px` height, and common `overflow: hidden`
docs: typography
*/
hr {
  border-style: solid;
  border-width: 1px 0 0;
  color: inherit;
  height: 0;
  overflow: visible;
}

/* doxray
label: Responsive Embeds
note: |
  1. Block display is usually what we want
  2. Remove strange space-below when inline
  3. Responsive by default
docs: embedded elements
*/
img, svg, video, canvas, audio, iframe, embed, object {
  display: block;
  vertical-align: middle;
  max-width: 100%;
}

/* doxray
label: Aspect Ratios
note: |
  Maintain intrinsic aspect ratios when `max-width` is applied.
  `iframe`, `embed`, and `object` are also embedded,
  but have no intrinsic ratio,
  so their `height` needs to be set explicitly.
docs: embedded elements
*/
img, svg, video, canvas {
  height: auto;
}

/* doxray
label: Audio Width
note: |
  There is no good reason elements default to 300px,
  and audio files are unlikely to come with a width attribute
docs: embedded elements
*/
audio {
  width: 100%;
}

/* doxray
label: Image Borders
note: Remove the border on images inside links in IE 10 and earlier
docs: legacy browsers
*/
img {
  border-style: none;
}

/* doxray
label: SVG Overflow
note: Hide the overflow in IE 10 and earlier
docs: legacy browsers
*/
svg {
  overflow: hidden;
}

/* doxray
label: HTML5 Elements
note: Default block display on HTML5 elements
docs: legacy browsers
*/
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

/* doxray
label: Checkbox & Radio Inputs
note: |
  1. Add the correct box sizing in IE 10
  2. Remove the padding in IE 10
docs: legacy browsers
*/
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-italic-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-bold-webfont.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-bolditalic-webfont.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Zilla Slab";
  src: url("../fonts/ZillaSlab-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Zilla Slab";
  src: url("../fonts/ZillaSlab-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Zilla Slab";
  src: url("../fonts/ZillaSlab-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Zilla Slab";
  src: url("../fonts/ZillaSlab-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Zilla Slab Highlight";
  src: url("../fonts/ZillaSlabHighlight-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Zilla Slab Highlight";
  src: url("../fonts/ZillaSlabHighlight-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
html {
  --zilla: "Zilla Slab", serif;
  --zilla-highlight: "Zilla Slab Highlight", serif;
  --inter: "Inter", sans-serif;
  font-family: "Inter", sans-serif;
  font-size: calc(1em + 0.25vw);
}

body {
  padding: 1em;
  margin: 1em auto;
  max-width: 40em;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--zilla);
}

strong {
  font-family: var(--zilla-highlight);
}

/*# sourceMappingURL=style.css.map */
