/* doxray
label: Main Remedy
meta: |
  Describe the file in one of these?
*/


/* doxray
label: Border-Box Sizing
description: This should be the default, of course
group: global
*/
*, *::before, *::after { box-sizing: border-box; }


/* doxray
label: Body
description: We don't need default space around the body element
group: global
*/
body { margin: 0; }
