/* doxray
label: Reminders
meta: |
  These are not ready for primetime!
*/


/* doxray
label: H1 Margins
description: This is a test
group: headings
*/
h1 { margin: 1em; }


/* doxray
label: Nav
description: This is also a test
group: nav
*/
nav ul { margin: 1em; }

